.image_remove_btn {
    width: 350px;
    height: 40px;
    font-weight: bold;
    color: #fff !important; text-decoration:none;
    background: rgba(168, 67, 67, 1);
}


.add_image_div {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 350px;
    height: 150px;
}

.add_image_div_red{

    background: skyblue;
    padding: 10px 2px 4px 2px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    color: #fff; ;
    display: inline-block;
    -webkit-box-shadow: 0px 3px 0px 0px #862f30;
    -moz-box-shadow: 0px 3px 0px 0px #862f30;
    box-shadow: 0px 3px 0px 0px #862f30;
    font-weight: 700;
    font-size:16px;
    overflow:auto;
    text-overflow: ellipsis; text-align:center;
    line-height:15px;cursor:pointer;
    background-repeat: no-repeat;
}

.add_image_div_red:hover{
    background: rgba(168, 67, 67,0.6);
    color: #fff !important; text-decoration:none;
    background-repeat: no-repeat;
}
.detail{
    font-size: 18px;
    line-height: 45px;
}

.error{
    color: #ff0000;
    text-align: left !important;
}
/*To generate a horizontal scrollbar for listing pages that are wider than browser window*/
.content{
    overflow: auto !important;
}

/*to make anchor tag look like a button*/
.buttonform {
    text-decoration: none !important;
    color: white;
    background-color: grey;
}
/*to make anchor tag look like a button*/
.page_content{
    padding-left: 10px !important;
}

.page_content .row{
    margin-left: 0px;
}

.button-type{
    padding:0px !important;
}

.form-header{
    margin-top: 0px;
    padding-left: 9px;
}

.underconstruction{
    font-family: "Courier New", Courier, monospace;
    font-weight: bolder;
    background-color: #00a7d0;
    /*background-image: url('../../images/construction.gif');*/
    text-align: center;
    width: 100%;
    height: 100%;
    /*margin-bottom: -50px;*/
}

.blank-space{
    min-height: 100px;
}

.navbar-nav>li
{
    border:none !important;
}

.navbar-default
{
    box-shadow: none !important;
    /*background-color: #e7e7e7 !important;*/
    background-color: #f7f8f9 !important;
}

.breadcrumb > li + li:before {
    content: "> " !important;
}

.col-md-9 .right {
    font-size: 11pt;
    font-family:Zawgyi-One !important;
    color:#000;
}

p .MsoNormal{
    font-size: 11pt;
    font-family:Zawgyi-One !important;
    color:#000;
}

/*for multilevel sidebar*/
.list-group.panel > .list-group-item {
    border-bottom-right-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}
.list-group-submenu {
    margin-left:20px !important;
}

.list-group-item{
    box-shadow: none !important;
    border: none !important;
    background-color: white !important;
    border-radius: 0px !important;
}

.list-group-item a{
    border-bottom-style:solid !important;
}

.list-group-item-success{
    background-color: #f7f8f9 !important;
    color:black !important;
}

.list-group.panel > .list-group-item {
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 2px solid #e0d1d1 !important;
    border-bottom-right-radius:0px !important;
    border-bottom-left-radius:0px !important;
}

.list-group.panel{
    border-bottom: 0px !important;
}
/*for multilevel sidebar*/

.footer-menu{
    width: 100% !important;
}

.entry_row{
    margin-left: -7px !important;
}

.bank_acc_detail{
    border: double;
}

.bank_acc_detail>p{
    text-align: center;
}

.bank_account_no{
    text-align: center;
}

.frontend-cancel{
    margin-left: -50px !important;
}

/*for left-alignment at homepage*/
.navbar-default{
    margin-left:-10px;
}

/*for medical_speciality_other*/
.other{
    display:none;
}

.frontend_hlogo{
    width:10%;
    height:10%;
}

.require{
    color:red;
}

